<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
    </head>
    <body    
    <%- include('partials/header') %>
    <p>this is the admin panel. It should only be accessible for admin users</p>
    <%- include('partials/footer') %>
</body>
</html>
