<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/header') %>
        <main><%- include('forms/createPostForm') %></main>
        <%- include('partials/footer') %>
    </body>
</html>
