<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include(partials/header') %>
    </body>
    <main>here be the posts</main>
    <%- include('partials/footer') %>
</html>
