<form action="/sign-up" method="post" id="signup-form">
    <label for="username">first name: </label>
    <input type="text" name="username" id="username" required />

    <label for="password">password: </label>
    <input type="password" name="password" id="password" required />

    <button type="submit">Sign Up</button>
</form>
